In [1]:
import pandas as pd

import scipy.stats as stats

import numpy as np

In [4]:
testing = pd.read_csv('G:/Data Science Recorded Lectures/case studies/8. Basic Stats - Case Study-2/8. Basic Stats - Case Study-2/Testing_Of_Hypothesis.csv')

testing.head()

   Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

### 1. The Samsung Average customer satisfaction score is minimum 75%

### One Sample t-test

Ho : Samsung Average Customer Satisfaction Score == 75%

Ha : Samsung Average Customer Satisfaction Score != 75%

In [5]:
mean_sat = testing['Samsung_Score'].mean()
mean_sat

84.9

In [6]:
per_sat = 0.75 * 84.9
per_sat

63.675000000000004

In [7]:
ttest_1 = stats.ttest_1samp(a=testing['Samsung_Score'], popmean = 63.675000000000004 )
t_score = round(ttest_1.statistic,2)
p_value = ttest_1.pvalue
print("The p value is {} and the T Score is {}".format(p_value,t_score))

The p value is 7.714674273163621e-33 and the T Score is 17.92

Since the significance value of the test is less than 0.05, we reject the null hypothesis. Therefore Samsung Average Customer Satisfaction Score is not equal to 75%. Hence the hypothesis The Samsung Average customer satisfaction score is minimum 75% is wrong

### 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores

#### Two Sample t-test(Independent)

In [9]:
samsung_score = testing['Samsung_Score']

apple_score = testing['Apple_Score']

In [11]:
print("The average satisfaction scores of Samsung customers is {}".format(samsung_score.mean()))
print("The average satisfaction scores of Apple customers is {}".format(apple_score.mean()))

The average satisfaction scores of Samsung customers is 84.9
The average satisfaction scores of Apple customers is 87.81

stats.ttest_ind(a=,b=)
# 1. Two different assumptions : Apple customer satisfaction score and Samsung customer satisfaction store equal var
#                              : unequal variance

# 2. If t value is same in both the cases : variance in A and B is same

# 3. If t value in different : var in A != var B : 
#      consider the results from unequal variance

H0 :  Satisfaction score of Samsung ==  Satisfaction score of Apple
H1 : Satisfaction score of Samsung != Satisfaction score of Apple

In [14]:
equal_var = stats.ttest_ind(a= samsung_score, b= apple_score,equal_var=True)    # equal variance
equal_var.statistic

-1.9064295935043472

In [15]:
unequal_var = stats.ttest_ind(a= samsung_score,b= apple_score,equal_var=False)    # UnEqual variance
unequal_var.statistic

-1.9064295935043474

In [16]:
# We'll cosider equal variance since the t score is not having a huge difference
unequal_var.statistic - equal_var.statistic

-2.220446049250313e-16

In [17]:
t = equal_var.statistic

p = equal_var.pvalue

print(" For the above test, the t-score is {} and the p-value is {}".format(t,p))

if(p<0.05):
    print('We reject null hypothesis')
else:
    print('We fail to reject null hypothesis')

 For the above test, the t-score is -1.9064295935043472 and the p-value is 0.058042614444118075
We fail to reject null hypothesis

Since the significance value of the test is greater than 0.05, we can safely conclude that The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores. Hence the hypothesis The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores is correct